@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body * {
  @apply transition-colors duration-500;
}
body {
  @apply transition-colors duration-500;
  margin: 0;
  font-size: 62.5%;
  place-items: center;
  background: #000427;
  transition: background;
}
.sidebar {
  width: 17rem;
  height: 100%;
  background-color: red;
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}
[data-collapse="true"] {
  width: 5.4rem;
}
[data-collapse="true"] .sidebar__name {
  display: none;
}
.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;

  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
}
